.container{
	position:absolute;
	top:50%;
	left:50%;
	width:800px;
	height:400px;
	margin-top:-200px;
	margin-left:-400px;
	background:#EEE;
	display:flex;
	justify-content:center;
	align-items:center;
}
.outer-circle{
	width:100px;
	height:100px;
	border:3px solid;
	box-sizing:border-box;
	border-radius:50px;
	border-color:#FF298C transparent #FF298C #FF298C;
	animation:outerRotate linear 0.8s infinite;
}
@keyframes outerRotate{
	from{
		transform:rotate(0);
	}
	to{
		transform:rotate(360deg);
	}
}
.inside-circle{
	position:absolute;
	width:0;
	height:0;
	border-radius:30px;
	border:30px solid;
	border-color:#FF298C #FF298C #FB89BB #FB89BB;
	transform:rotate(-135deg);
	z-index:1;
}
.inside-left{
	position:absolute;
	width:0;
	height:0;
	border-radius:30px;
	border:30px solid;
	border-color:#FF298C transparent transparent #FF298C;
	animation:leftRotate 2s linear infinite;
}
.inside-right{
	position:absolute;
	width:0;
	height:0;
	border-radius:30px;
	border:30px solid;
	border-color:transparent #FB89BB #FB89BB transparent;
	animation:rightRotate 2s linear infinite;
}
@keyframes leftRotate{
	0%{
		z-index:2;
		transform:rotate(-45deg);
	}
	25%{
		z-index:2;
		transform:rotate(-45deg);
	}
	25.001%{
		z-index:3;
		transform:rotate(-45deg);
	}
	50%{
		z-index:3;
		transform:rotate(-225deg);
	}
	75%{
		z-index:3;
		transform:rotate(-225deg);
	}
	75.001%{
		z-index:2;
		transform:rotate(-225deg);
	}
	100%{
		z-index:2;
		transform:rotate(-405deg);
	}
}
@keyframes rightRotate{
	0%{
		z-index:3;
		transform:rotate(-225deg);
	}
	25%{
		z-index:3;
		transform:rotate(-405deg);
	}
	25.001%{
		z-index:2;
		transform:rotate(-405deg);
	}
	50%{
		z-index:2;
		transform:rotate(-405deg);
	}
	75%{
		z-index:2;
		transform:rotate(-585deg);
	}
	75.001%{
		z-index:3;
		transform:rotate(-585deg);
	}
	100%{
		z-index:3;
		transform:rotate(-585deg);
	}
}