body{
	background:#CCC;
}
a{
	text-decoration:none;
}
.item{
	position:relative;
	display:block;
	width:80%;
	min-width:200px;
	max-width:800px;
	margin:100px auto;
	height:400px;
	z-index:1;
}
/*********************** 背景高斯模糊开始 *************************/
.item img{
	position:absolute;
	width:100%;
	border-radius:10px;
	transition:filter 0.5s;
	z-index:2;
}
.item:hover img{ /*坑一 对CSS选择器的理解和应用不到位*/ 
    -webkit-filter: blur(3px); /* Chrome, Opera */
       -moz-filter: blur(3px);
        -ms-filter: blur(3px);    
            filter: blur(3px);
}
/*********************** 背景高斯模糊结束 *************************/
.item figcaption{
	position:absolute;
	left:50%;
	width:80%;
	margin-left:-40%;
	margin-top:20%;
	text-align:center;
	transition:all 1s;
	z-index:4;
	opacity:0;
}
/*************************** 边框实现开始 ****************************/
.item::before{
	content:'';
	box-sizing:border-box;
	position:absolute;
	left:50%;
	top:11%;
	width:0;
	height:90%;
	border:solid #FFF;
	border-width:4px 0 4px 0;
	margin-left:0;
	opacity:0;
	z-index:3;
	transition:all 1s;
}
.item:hover::before{
	width:80%;
	opacity:1;
	margin-left:-40%;
}
.item::after{
	content:'';
	box-sizing:border-box;
	position:absolute;
	left:50%;
	top:50%;
	width:80%;
	margin-left:-40%;
	height:0;
	border:solid #FFF;
	border-width:0 3px 0 3px;
	opacity:0;
	z-index:3;
	transition:all 1s;
}
.item:hover::after{
	opacity:1;
	height:89%;
	margin-top:-19%;
}
/************************* 边框实现结束 ****************************/
.item:hover figcaption{
	opacity:1;
	transform:translateY(-20px);
}
.item figcaption h1{
	font-size:2em;
}
.item figcaption a{
	font-size:1em;
}
/********************* 流光渐变效果实现开始 ************************/
.gradient-to-right{
	background-image: linear-gradient(to left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	background-size:200% 100%;
	animation:maskGradient 4s infinite linear;
}
@-webkit-keyframes maskGradient{
	0%{
		background-position:0 0;
	}
	100%{
		background-position:-100% 0;
	}
}
.gradient-color{
	animation:changeColor 2s infinite linear;
}
@-webkit-keyframes changeColor{
	0%{
		color:white;
	}
	25%{
		color:blue;
	}
	50%{
		color:pink;
	}
	75%{
		color:yellow;
	}
	100%{
		color:white;
	}
}
/********************* 流光渐变效果实现结束 ************************/